<h3>Color App</h3>
<form>
  <div>
    <label>Calculator</label>
    <select name="color" [(ngModel)]="color">
      <option selected>Choose color</option>
      <option value="color: red">Red</option>
      <option value="color: green">Green</option>
      <option value="color: blue">Blue</option>
      <option value="color: yellow">Yellow</option>
      <option value="color: pink">Pink</option>
      <option value="color: orange">Orange</option>
      <option value="color: black">Black</option>
    </select>
  </div>
</form>
<div style="{{color}}">
  <h2> MỘT CHUYỆN TÌNH ĐẸP ❤</h2>
  <p> 
    Nữ hoàng Elizabeth II là con cả của Hoàng tử Albert, Công tước xứ York, về sau lên nắm giữ ngôi vị hoàng đế George
    VI. Ngay từ khi 10 tuổi, Elizabeth đã được xác định sẽ là người thừa kế vương vị Nữ hoàng. Năm 25 tuổi, bà chính
    thức trở thành Nữ hoàng của 16 quốc gia độc lập thuộc Khối thịnh vượng chNữ hoàng Elizabeth II là con cả của Hoàng
    tử Albert, Công tước xứ York, về sau lên nắm giữ ngôi vị hoàng đế George VI. Ngay từ khi 10 tuổi, Elizabeth đã được
    xác định sẽ là người thừa kế vương vị Nữ hoàng. Năm 25 tuổi, bà chính thức trở thành Nữ hoàng của 16 quốc gia độc
    lập thuộc Khối thịnh vượng ch#laban360ung Anh.
    Trái lại, chồng bà – Hoàng tử Philip – lại có địa vị thấp kém hơn hẳn khi mang trong mình dòng máu hoàng tộc Hy Lạp
    và Đan Mạch, ông sinh ra và lớn lên tại đảo Corfu, Hy Lạp. Sau một cuộc nổi loạn, vua Constantine I, bác của Philip
    bị ép thoái vị, cả gia đình Phillip bị trục xuất khỏi Hy Lạp. Khi ấy Philip mới chỉ 9 tuổi.
    Chiến tranh Thế giới thứ 2 bùng nổ, Philip tham gia vào cuộc chiến nhưng cặp đôi trẻ vẫn gửi thư cho nhau hàng tuần.
    Trong một lá thư gửi tới người con gái mình thương, Philip đã tự hỏi liệu ông có xứng đáng với “tất cả những điều
    tốt đẹp đó”, và ông “đã hoàn toàn rơi vào tình yêu và không rụt rè”.
    Tháng 12/1943, Philip có kỳ nghỉ phép đón Giáng sinh ở lâu đài Windsor, chàng đã tới xem Elizabeth diễn kịch. Nàng
    công chúa nhỏ ngày nào giờ đã trở thành một thiếu nữ 17 tuổi trẻ trung, xinh đẹp. Vua George VI đã nhận xét về chàng
    trai trẻ là “thông minh, có óc hài hước, biết suy nghĩ chừng mực”. Nhưng cả vua và hoàng hậu đều nghĩ Lilibet còn
    quá trẻ để xem xét chuyện hôn nhân.
    Chuyện tình của Nữ hoàng Elizabeth bị phản đối kịch liệt, đồng thời trở thành tâm điểm của giới truyền thông lúc bấy
    giờ. Trong đó, mẹ của Nữ hoàng là người phản đối gay gắt nhất.
    Bất chấp sự phản đối, cuối mùa hè năm 1946, chàng hoàng tử Philip ngỏ lời cầu hôn với người con gái anh yêu. Không
    chút nghĩ suy, cũng không cần để tâm đến ý kiến của cha mẹ, nàng công chúa lập tức đồng ý. Để có thể kết hôn với
    người mình yêu, Hoàng tử Philip đồng ý từ bỏ tước hiệu của mình, theo Elizabeth tới Anh quốc.
    Ngày 2/6/1953, Elizabeth chính thức lên ngôi Nữ hoàng. Kể từ đó đến nay, người dân trên thế giới đều thấy Hoàng tử
    Philip luôn luôn đi sau Nữ hoàng trong tất cả những cuộc họp, những chuyến viếng thăm, những buổi diễn thuyết… Ông
    trở thành người chồng, người lính bảo vệ Nữ hoàng. </p>
</div>
