<div class="container-fluid px-0" style="height: 100vh;">
  <nav class="navbar navbar-expand-lg navbar-light rounded bg-#272822" style="background-color: #5F6868">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Furama</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Customer</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">#</a></li>
              <li><a class="dropdown-item" href="#">#</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">#</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row px-0 mx-0" style="height: 90%;">
    <div class="col-2 px-0">
      <div class="list-group border border-primary rounded h-100">
        <a href="#" class="list-group-item list-group-item-action active">Home</a>
        <a href="#" class="list-group-item list-group-item-action ">Customer</a>
        <a href="#" class="list-group-item list-group-item-action ">Employee</a>
        <a href="#" class="list-group-item list-group-item-action ">Service</a>
        <a href="#" class="list-group-item list-group-item-action ">Contracts</a>
      </div>
    </div>
    <div class="col-10 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

