<main class="container-fluid">
  <div>
    <div class="row">
      <section class="col-md-12 border-5 ">
        <div class="row align-items-center mt-4">
          <div class="col">
            <a class="btn btn-sm btn-outline-success" routerLink="/customer/create">Create new customer</a>
          </div>
          <div class="col">
          </div>
          <div class="col">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <!--              <button class="btn btn-outline-primary" type="submit">Search</button>-->
          </div>
        </div>
        <div>
          <h3 class="text-center text-primary fs-4">FURAMA RESORT CUSTOMER LIST</h3>
        </div>
        <div>
          <table class="table table-bordered border-success">
            <thead>
            <tr class=" text-light" style="background-color: #FEB554;">
              <th>Id</th>
              <th>Name</th>
              <th>Type</th>
              <th>Gender</th>
              <th>Birthday</th>
              <th>Id Card</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Address</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a class="text-decoration-none fw-bold "
                     [routerLink]="['/customer/detail', customer.id]">{{customer.id}}</a></td>
              <td>{{customer.name}}</td>
              <td>{{customer.customer_type.name}}</td>
              <td>
                <span *ngIf="customer.gender==1">Male</span>
                <span *ngIf="customer.gender==0">Female</span>
                <!--                {{customer.gender}}</th>-->
              <td>{{customer.birthday}}</td>
              <td>{{customer.id_card}}</td>
              <td>{{customer.phone}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.address}}</td>
              <td><a class="btn btn-sm btn-outline-primary" [routerLink]="['/customer/edit', customer.id]"
                     role="button">Edit</a></td>
              <td><a class="btn btn-sm btn-outline-danger"
                     role="button">Delete</a></td>
            </tr>
            </tbody>
          </table>
          <!--          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
          <!--            Launch demo modal-->
          <!--          </button>-->
          <!-- Modal -->
          <!--          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
          <!--               aria-hidden="true">-->
          <!--            <div class="modal-dialog">-->
          <!--              <div class="modal-content">-->
          <!--                <div class="modal-header">-->
          <!--                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
          <!--                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
          <!--                </div>-->
          <!--                <div class="modal-body">-->
          <!--                  ...-->
          <!--                </div>-->
          <!--                <div class="modal-footer">-->
          <!--                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
          <!--                  <button type="button" class="btn btn-primary">Save changes</button>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </section>
    </div>
  </div>
</main>
