<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Blog</title>
</head>
<body>
<a href="/blog">Back to Blog List</a>
<h1>Create blog</h1>
<p th:if="${msg}" th:text="${msg}"></p>
<form th:action="@{/blog/create}" th:object="${showCreate}" method="post">
    <table>
        <tr>
            <th><label for="name">Name:</label></th>
            <td><input type="text" id="name" th:field="*{name}"></td>
        </tr>
        <tr>
            <th><label for="summary">Summary:</label></th>
            <td><textarea id="summary" cols="50" rows="5" th:field="*{summary}"></textarea></td>
        </tr>
        <tr>
            <th><label for="content">Content:</label></th>
            <td><textarea id="content" cols="50" rows="10" th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Create</button>
            </td>
        </tr>

    </table>
</form>
</body>
</html>