<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>trade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!--Header-->

<!--Aside-->
<div class="container-fluid">
    <div class="row">

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <a class="btn btn-sm btn-outline-primary" href="/crud/create" role="button">Create</a>
                <a class="btn btn-sm btn-outline-primary" href="/crud" role="button">Home</a>
<!--                                <th:block th:if="${mess}">-->
<!--                                    <p th:text="${mess}"></p>-->
                </th:block>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <form style="float:right" action="/crud/search" method="post" >
                        <label>Search by title</label>
                        <input type="text" th:name="title" >
<!--                               , th:value="${title}">-->
<!--                        <select th:name="serviceType" , th:value="${serviceType}">-->
<!--                            <option value="" disabled selected>Choose service type</option>-->
<!--                            <option value="Land">Land</option>-->
<!--                            <option value="Home-Land">Home Land</option>-->
<!--                        </select>-->
                        <button type="submit" class="btn btn-sm btn-outline-primary">Search</button>
                    </form>
                </div>
            </div>
            <h5>List Question</h5>
            <div class="table-responsive">
                <table class="table table-striped table-sm fs-6 ">
                    <thead>
                    <tr style="height: 50px" class="text-center bg-dark text-light">
                        <th class="text-center">STT</th>
                        <th class="text-center">Tiêu đề</th>
                        <th class="text-center">Loại câu hỏi</th>
                        <th class="text-center">Ngày đăng</th>
                        <th class="text-center">Tình trạng</th>
                        <!--                        <th class="text-center"></th>-->
                        <!--                        <th class="text-center">Edit</th>-->
                        <th class="text-center">Delete</th>
                        <th class="text-center">Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="question : ${questionList.content}">
                        <tr>
                            <td class="text-center" th:text="${question.id}"></td>
                            <td class="text-center" th:text="${question.title}"></td>
                            <td class="text-center" th:text="${question.questionType.name}"></td>
                            <td class="text-center" th:text="${question.date_create}"></td>
                            <td class="text-center" th:text="${question.status}"></td>
                            <!--                            <td class="text-center" th:text="${#temporals.format(movies.date,'dd-MM-yyyy HH:mm')}"></td>-->
                            <!--                            //TH date-->
                            <!--                            <td class="text-center" th:text="${#dates.format(showTime.getDateOfShow(),'dd-MM-yyyy')}"></td>-->
                            <!--                            <td class="text-center">-->
                            <!--                                <a class="btn btn-sm btn-outline-primary" th:href="@{/movies/edit/__${movies.id}__ }"-->
                            <!--                                   role="button">Edit</a>-->
                            <!--                            </td>-->
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-outline-danger delete">Delete</button>
                                <input type="hidden" th:value="${question.id}">
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-outline-danger detail">Detail</button>
                                <input type="hidden" th:value="${question.id}">
                            </td>
                        </tr>
                        <div class="modal fade" id="modalId" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"></h5>
                                        <a href="/crud" type="button" class="close" data-dismiss="modal"
                                           aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    </tbody>
                </table>
                <div class="float-end">
                    <a class="btn btn-outline-primary btn-sm" role="button" th:if="${questionList.hasPrevious()}"
                       th:href="@{/crud(page=${questionList.number -1})}">
                        Previous
                    </a>
                    <th:block th:each="pageNo: ${#numbers.sequence(1,questionList.totalPages - 1)}">
                        <!--    Vòng lặp hiển thị tất cả các trong hiện có-->
                        <a class="btn btn-outline-primary btn-sm" role="button" th:href="@{/crud(page = ${pageNo})}"
                           th:text="${pageNo}"></a>
                    </th:block>
                    <a class="btn btn-outline-primary btn-sm" role="button" th:if="${questionList.hasNext()}"
                       th:href="@{/crud(page=${questionList.number +1 })}">
                        Next
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
<!--Footer-->
<!--<div th:replace="~{/layout2::footer}"></div>-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // console.log("helo")
        $(".delete").click(function () {
            // console.log($(this).next().val());
            $.ajax({
                type: "GET",
                url: "/crud/delete/" + $(this).next().val(),
                data: "HTML",
                success: function (data) {

                    $(".modal-body").html(data);
                    $("#modalId").modal("show")
                }
            })
        })
    });
    $(document).ready(function () {
        // console.log("helo")
        $(".detail").click(function () {
            // console.log($(this).next().val());
            $.ajax({
                type: "GET",
                url: "/crud/detail/" + $(this).next().val(),
                data: "HTML",
                success: function (data) {

                    $(".modal-body").html(data);
                    $("#modalId").modal("show")
                }
            })
        })
    });
</script>
</body>
</html>