<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>View Song</h3>
<p>
    <a th:href="@{/song}">
        Back to customer list
    </a>
</p>
<div id="detail">
    <div>
        <label>Id:</label>
        <label th:text="${song.id}"></label>
    </div>
    <div>
        <label>Name:</label>
        <label th:text="${song.name}"></label>
    </div>
    <div>
        <label>Singer:</label>
        <label th:text="${song.singer}"></label>
    </div>
    <div>
        <label>Url:</label>
        <label th:text="${song.url}"></label>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>