<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<a href="/create-customer">Create new customer</a>-->
<!--<h1>Customers</h1>-->
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Idol</th>
        <th>Type</th>
        <th>Link FHD</th>

        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="temp,state : ${showList}">
        <tr>
            <td th:text="${temp.getId()}"></td>
            <td th:text="${temp.getName()}"></td>
            <td th:text="${temp.getIdol()}"></td>
            <td th:text="${temp.getTypeMusic()}"></td>
            <td > <a th:href="${temp.getLink()}"> </a></td>
            <!--            <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>-->
            <!--            <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>-->
        </tr>


    </th:block>
</table>
</body>
</html>