<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete employee</title>
</head>
<body>
<form th:action="@{/crud/delete}" th:object="${suatchieu}" th:method="POST">
    <h3>Are you sure delete this employee?</h3>
    <input th:type="hidden" name="id" th:field="*{id}">
    <table class="table">
        <tr>
            <td>Id:</td>
            <td th:text="${suatchieu.id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:text="${suatchieu.phim.name}"></td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td th:text="${suatchieu.dateNow}"></td>
        </tr>
        <tr>
            <td>Position:</td>
            <td th:text="${suatchieu.quantity}"></td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</form>
<script>
    // $(document).ready(function () {
    //     console.log("helo")
    //     $(".clickDeleteCustomer").click(function () {
    //         console.log($(this).next().val());
    //         $.ajax({
    //             type: "POST",
    //             url: "/customer/delete/" + $(this).next().val(),
    //             data: "HTML",
    //             success: function (data) {
    //                 let message = "Deleted customer successfully";
    //                 setTimeout(function () {
    //                     $("#modalId").modal("hide");
    //                 }, 2000);
    //                 $(".modal-body").html(message);
    //             }
    //         })
    //     })
    // });
</script>
</body>
</html>