<main class="form-signin ">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-4">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="mb-4 text-center">
            <img  src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
                  height="57">
            <h1 class="h3 mt-4 mb-4 fw-normal">Please sign in</h1>

          </div>
          <div class="form-floating mb-4">
            <input type="text" class="form-control" name="email" id="email" formControlName="email" placeholder="name@example.com">
            <label for="email">Email address</label>
            <div style="color:red;"
                 *ngIf="!loginForm.controls.email?.valid && (loginForm.controls.email?.dirty
            ||loginForm.controls.email?.touched)"
            >
              Email is wrong format: name@example.com .
            </div>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="Password">
            <label for="password">Password</label>
            <div style="color:red;"
                 *ngIf="!loginForm.controls.password?.valid && (loginForm.controls.password?.dirty || loginForm.controls.password?.touched)"
            >
              Password must be more than 6 characters.
            </div>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" [disabled]="!loginForm.valid" type="submit">Sign in</button>
          <!--  <button type="submit" [disabled]="contactForm.invalid">Submit</button>-->

        </form>
      </div>

    </div>
  </div>
</main>
