<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categorise</title>
</head>
<body>
<a href="/create-categorise">Create new categorise</a>
<h1>Categorise</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="categorise : ${categoriseList}">
        <tr>
            <td th:text="${categorise.name}"></td>
            <td><a th:href="@{/edit-categorise/__${categorise.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-categorise/__${categorise.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>